%h1 All Properties

%table#movies
  %thead
    %tr
      %th Cost
      %th Lat
      %th Lng
      %th Area
      %th Location
      %th Kitchen
      %th Beds
      %th Wifi
      %th Av Initial
      %th Av Final
  %tbody
    - @properties.each do |property|
      %tr
        %td= property.cost
        %td= property.lat
        %td= property.lng
        %td= property.area
        %td= property.location
        %td= property.kitchen
        %td= property.beds
        %td= property.wifi
        %td= property.availability_initial
        %td= property.availability_final

        