%h1 All Properties

%label= "Start Date"
%input{:type=>"text", :id=>"start_date"}

%label= "End Date"
%input{:type=>"text", :id=>"start_date"}

%label= "Location"
%input{:type=>"text", :id=>"city_location"}

%table#properties
  %thead
    %tr
      %th Cost
      %th Lat
      %th Lng
      %th Area
      %th Location
      %th Kitchen
      %th Beds
      %th Wifi
  %tbody
    - @properties.each do |property|
      %tr
        %td= property.cost
        %td= property.lat
        %td= property.lng
        %td= property.area
        %td= property.location
        %td= property.kitchen
        %td= property.beds
        %td= property.wifi